:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --third-title-color: #757575;
  --accent-color: #2196f3;
  --backgroud-color: #f5f4fa;
  --footer-nolight-color: #000000;
  --portfolio-box-color: #eeeeee;
  --main-btn-color: #2196f3;
  --secon-btn-color: #ffffff;
}

.body {
  font-family: "ralewey", "sans-serif" "Robato";
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.header-link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.web-logo {
  color: var(--accent-color);
}
