:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --third-title-color: #757575;
  --accent-color: #2196f3;
  --backgroud-color: #f5f4fa;
  --footer-nolight-color: #000000;
  --portfolio-box-color: #eeeeee;
  --main-btn-color: #2196f3;
  --secon-btn-color: #ffffff;
  --footer-background-color: #2f303a;
}
/*-------------------------------FOOTER походу теги не могу найти если писать его ниже .боди------------------*/
.footer-ground {
  background-color: var(--footer-background-color);
}

.body {
  font-family: "ralewey", "sans-serif" "Robato";
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/*-------------------------------HEADER---------------------------------*/
.header {
  background-color: #ffffff;
}
.header-link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.header-link-dark {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}
.web-logo {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.header-logo {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--footer-nolight-color);
}
.header-tel {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  inherits: color var(--third-title-color);
  color: var(--third-title-color);
}
.header-web {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  inherits: color var(--accent-color);
  color: var(--accent-color);
  /*-------------------------------Footer---------------------------------*/
}
.footer-logo {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
.footer-address {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
/*-------------------------------main---------------------------------*/
