@import;
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
h2 {
}
button {
  background-color: #dedede;
}
button:hover {
  background-color: #2196f3;
}
button:focus {
  outline: none;
  box-shadow: 0 0 0 3px lightskyblue;
}
